::-webkit-scrollbar {
    color: white;
    background-color: white;
    width: 5px;
    height: 5px;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: rgba(6, 6, 6, 0.5);
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .5), inset -2px 2px 2px rgba(204, 204, 204, 0.1), inset 2px -2px 2px rgba(0, 0, 0, 0.2);
}